.sprite-fish {
  background-image: url('fish.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-fish-anchovy {
  background-position: 0 0;
}

.sprite-fish-angelfish {
  background-position: -128px 0;
}

.sprite-fish-arapaima {
  background-position: -256px 0;
}

.sprite-fish-arowana {
  background-position: -384px 0;
}

.sprite-fish-barred_knifejaw {
  background-position: -512px 0;
}

.sprite-fish-barreleye {
  background-position: -640px 0;
}

.sprite-fish-betta {
  background-position: -768px 0;
}

.sprite-fish-bitterling {
  background-position: -896px 0;
}

.sprite-fish-black_bass {
  background-position: 0 -128px;
}

.sprite-fish-blowfish {
  background-position: -128px -128px;
}

.sprite-fish-bluegill {
  background-position: -256px -128px;
}

.sprite-fish-blue_marlin {
  background-position: -384px -128px;
}

.sprite-fish-butterfly_fish {
  background-position: -512px -128px;
}

.sprite-fish-carp {
  background-position: -640px -128px;
}

.sprite-fish-catfish {
  background-position: -768px -128px;
}

.sprite-fish-char {
  background-position: -896px -128px;
}

.sprite-fish-cherry_salmon {
  background-position: 0 -256px;
}

.sprite-fish-clownfish {
  background-position: -128px -256px;
}

.sprite-fish-coelacanth {
  background-position: -256px -256px;
}

.sprite-fish-crawfish {
  background-position: -384px -256px;
}

.sprite-fish-crucian_carp {
  background-position: -512px -256px;
}

.sprite-fish-dab {
  background-position: -640px -256px;
}

.sprite-fish-dace {
  background-position: -768px -256px;
}

.sprite-fish-dorado {
  background-position: -896px -256px;
}

.sprite-fish-football_fish {
  background-position: 0 -384px;
}

.sprite-fish-freshwater_goby {
  background-position: -128px -384px;
}

.sprite-fish-frog {
  background-position: -256px -384px;
}

.sprite-fish-gar {
  background-position: -384px -384px;
}

.sprite-fish-giant_snakehead {
  background-position: -512px -384px;
}

.sprite-fish-giant_trevally {
  background-position: -640px -384px;
}

.sprite-fish-golden_trout {
  background-position: -768px -384px;
}

.sprite-fish-goldfish {
  background-position: -896px -384px;
}

.sprite-fish-great_white_shark {
  background-position: 0 -512px;
}

.sprite-fish-guppy {
  background-position: -128px -512px;
}

.sprite-fish-hammerhead_shark {
  background-position: -256px -512px;
}

.sprite-fish-horse_mackerel {
  background-position: -384px -512px;
}

.sprite-fish-killifish {
  background-position: -512px -512px;
}

.sprite-fish-king_salmon {
  background-position: -640px -512px;
}

.sprite-fish-koi {
  background-position: -768px -512px;
}

.sprite-fish-loach {
  background-position: -896px -512px;
}

.sprite-fish-mahi-mahi {
  background-position: 0 -640px;
}

.sprite-fish-mitten_crab {
  background-position: -128px -640px;
}

.sprite-fish-moray_eel {
  background-position: -256px -640px;
}

.sprite-fish-napoleonfish {
  background-position: -384px -640px;
}

.sprite-fish-neon_tetra {
  background-position: -512px -640px;
}

.sprite-fish-nibble_fish {
  background-position: -640px -640px;
}

.sprite-fish-oarfish {
  background-position: -768px -640px;
}

.sprite-fish-ocean_sunfish {
  background-position: -896px -640px;
}

.sprite-fish-olive_flounder {
  background-position: 0 -768px;
}

.sprite-fish-pale_chub {
  background-position: -128px -768px;
}

.sprite-fish-pike {
  background-position: -256px -768px;
}

.sprite-fish-piranha {
  background-position: -384px -768px;
}

.sprite-fish-pond_smelt {
  background-position: -512px -768px;
}

.sprite-fish-pop-eyed_goldfish {
  background-position: -640px -768px;
}

.sprite-fish-puffer_fish {
  background-position: -768px -768px;
}

.sprite-fish-rainbowfish {
  background-position: -896px -768px;
}

.sprite-fish-ranchu_goldfish {
  background-position: 0 -896px;
}

.sprite-fish-ray {
  background-position: -128px -896px;
}

.sprite-fish-red_snapper {
  background-position: -256px -896px;
}

.sprite-fish-ribbon_eel {
  background-position: -384px -896px;
}

.sprite-fish-saddled_bichir {
  background-position: -512px -896px;
}

.sprite-fish-salmon {
  background-position: -640px -896px;
}

.sprite-fish-saw_shark {
  background-position: -768px -896px;
}

.sprite-fish-sea_bass {
  background-position: -896px -896px;
}

.sprite-fish-sea_butterfly {
  background-position: -1024px 0;
}

.sprite-fish-seahorse {
  background-position: -1024px -128px;
}

.sprite-fish-snapping_turtle {
  background-position: -1024px -256px;
}

.sprite-fish-soft-shelled_turtle {
  background-position: -1024px -384px;
}

.sprite-fish-squid {
  background-position: -1024px -512px;
}

.sprite-fish-stringfish {
  background-position: -1024px -640px;
}

.sprite-fish-sturgeon {
  background-position: -1024px -768px;
}

.sprite-fish-suckerfish {
  background-position: -1024px -896px;
}

.sprite-fish-surgeonfish {
  background-position: 0 -1024px;
}

.sprite-fish-sweetfish {
  background-position: -128px -1024px;
}

.sprite-fish-tadpole {
  background-position: -256px -1024px;
}

.sprite-fish-tilapia {
  background-position: -384px -1024px;
}

.sprite-fish-tuna {
  background-position: -512px -1024px;
}

.sprite-fish-whale_shark {
  background-position: -640px -1024px;
}

.sprite-fish-yellow_perch {
  background-position: -768px -1024px;
}

.sprite-fish-zebra_turkeyfish {
  background-position: -896px -1024px;
}
