.sprite-insect {
  background-image: url('insects.png');
  background-repeat: no-repeat;
  display: block;
  // width: 128px;
  // height: 128px;
}

.sprite-insect-agrias_butterfly {
  background-position: 0 0;
}

.sprite-insect-ant {
  background-position: -128px 0;
}

.sprite-insect-atlas_moth {
  background-position: -256px 0;
}

.sprite-insect-bagworm {
  background-position: -384px 0;
}

.sprite-insect-banded_dragonfly {
  background-position: -512px 0;
}

.sprite-insect-bell_cricket {
  background-position: -640px 0;
}

.sprite-insect-blue_weevil_beetle {
  background-position: -768px 0;
}

.sprite-insect-brown_cicada {
  background-position: -896px 0;
}

.sprite-insect-centipede {
  background-position: 0 -128px;
}

.sprite-insect-cicada_shell {
  background-position: -128px -128px;
}

.sprite-insect-citrus_long-horned_beetle {
  background-position: -256px -128px;
}

.sprite-insect-common_bluebottle {
  background-position: -384px -128px;
}

.sprite-insect-common_butterfly {
  background-position: -512px -128px;
}

.sprite-insect-cricket {
  background-position: -640px -128px;
}

.sprite-insect-cyclommatus_stag {
  background-position: -768px -128px;
}

.sprite-insect-damselfly {
  background-position: -896px -128px;
}

.sprite-insect-darner_dragonfly {
  background-position: 0 -256px;
}

.sprite-insect-diving_beetle {
  background-position: -128px -256px;
}

.sprite-insect-drone_beetle {
  background-position: -256px -256px;
}

.sprite-insect-dung_beetle {
  background-position: -384px -256px;
}

.sprite-insect-earth-boring_dung_beetle {
  background-position: -512px -256px;
}

.sprite-insect-emperor_butterfly {
  background-position: -640px -256px;
}

.sprite-insect-evening_cicada {
  background-position: -768px -256px;
}

.sprite-insect-firefly {
  background-position: -896px -256px;
}

.sprite-insect-flea {
  background-position: 0 -384px;
}

.sprite-insect-fly {
  background-position: -128px -384px;
}

.sprite-insect-giant_cicada {
  background-position: -256px -384px;
}

.sprite-insect-giant_stag {
  background-position: -384px -384px;
}

.sprite-insect-giant_water_bug {
  background-position: -512px -384px;
}

.sprite-insect-giraffe_stag {
  background-position: -640px -384px;
}

.sprite-insect-golden_stag {
  background-position: -768px -384px;
}

.sprite-insect-goliath_beetle {
  background-position: -896px -384px;
}

.sprite-insect-grasshopper {
  background-position: 0 -512px;
}

.sprite-insect-great_purple_emperor {
  background-position: -128px -512px;
}

.sprite-insect-hermit_crab {
  background-position: -256px -512px;
}

.sprite-insect-honeybee {
  background-position: -384px -512px;
}

.sprite-insect-horned_atlas {
  background-position: -512px -512px;
}

.sprite-insect-horned_dynastid {
  background-position: -640px -512px;
}

.sprite-insect-horned_elephant {
  background-position: -768px -512px;
}

.sprite-insect-horned_hercules {
  background-position: -896px -512px;
}

.sprite-insect-jewel_beetle {
  background-position: 0 -640px;
}

.sprite-insect-ladybug {
  background-position: -128px -640px;
}

.sprite-insect-long_locust {
  background-position: -256px -640px;
}

.sprite-insect-madagascan_sunset_moth {
  background-position: -384px -640px;
}

.sprite-insect-man-faced_stink_bug {
  background-position: -512px -640px;
}

.sprite-insect-mantis {
  background-position: -640px -640px;
}

.sprite-insect-migratorylocust {
  background-position: -768px -640px;
}

.sprite-insect-miyamastag {
  background-position: -896px -640px;
}

.sprite-insect-molecricket {
  background-position: 0 -768px;
}

.sprite-insect-monarchbutterfly {
  background-position: -128px -768px;
}

.sprite-insect-mosquito {
  background-position: -256px -768px;
}

.sprite-insect-moth {
  background-position: -384px -768px;
}

.sprite-insect-orchidmantis {
  background-position: -512px -768px;
}

.sprite-insect-paperkitebutterfly {
  background-position: -640px -768px;
}

.sprite-insect-peacockbutterfly {
  background-position: -768px -768px;
}

.sprite-insect-pillbug {
  background-position: -896px -768px;
}

.sprite-insect-pondskater {
  background-position: 0 -896px;
}

.sprite-insect-queenalexandrasbirdwing {
  background-position: -128px -896px;
}

.sprite-insect-rainbowstag {
  background-position: -256px -896px;
}

.sprite-insect-rajahbrookesbirdwing {
  background-position: -384px -896px;
}

.sprite-insect-reddragonfly {
  background-position: -512px -896px;
}

.sprite-insect-ricegrasshopper {
  background-position: -640px -896px;
}

.sprite-insect-robustcicada {
  background-position: -768px -896px;
}

.sprite-insect-rosaliabatesibeetle {
  background-position: -896px -896px;
}

.sprite-insect-sawstag {
  background-position: -1024px 0;
}

.sprite-insect-scarabbeetle {
  background-position: -1024px -128px;
}

.sprite-insect-scorpion {
  background-position: -1024px -256px;
}

.sprite-insect-snail {
  background-position: -1024px -384px;
}

.sprite-insect-spider {
  background-position: -1024px -512px;
}

.sprite-insect-stinkbug {
  background-position: -1024px -640px;
}

.sprite-insect-tarantula {
  background-position: -1024px -768px;
}

.sprite-insect-tigerbeetle {
  background-position: -1024px -896px;
}

.sprite-insect-tigerbutterfly {
  background-position: 0 -1024px;
}

.sprite-insect-violinbeetle {
  background-position: -128px -1024px;
}

.sprite-insect-walkercicada {
  background-position: -256px -1024px;
}

.sprite-insect-walkingleaf {
  background-position: -384px -1024px;
}

.sprite-insect-walkingstick {
  background-position: -512px -1024px;
}

.sprite-insect-wasp {
  background-position: -640px -1024px;
}

.sprite-insect-wharfroach {
  background-position: -768px -1024px;
}

.sprite-insect-yellowbutterfly {
  background-position: -896px -1024px;
}
