.sprite-seacreature {
  background-image: url('seacreatures.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-seacreature-abalone {
  background-position: 0 0;
}

.sprite-seacreature-acorn_barnacle {
  background-position: -128px 0;
}

.sprite-seacreature-chambered_nautilus {
  background-position: -256px 0;
}

.sprite-seacreature-dungeness_crab {
  background-position: -384px 0;
}

.sprite-seacreature-firefly_squid {
  background-position: -512px 0;
}

.sprite-seacreature-flatworm {
  background-position: -640px 0;
}

.sprite-seacreature-gazami_crab {
  background-position: -768px 0;
}

.sprite-seacreature-giant_isopod {
  background-position: -896px 0;
}

.sprite-seacreature-gigas_giant_clam {
  background-position: -1024px 0;
}

.sprite-seacreature-horseshoe_crab {
  background-position: 0 -128px;
}

.sprite-seacreature-lobster {
  background-position: -128px -128px;
}

.sprite-seacreature-mantis_shrimp {
  background-position: -256px -128px;
}

.sprite-seacreature-moon_jellyfish {
  background-position: -384px -128px;
}

.sprite-seacreature-mussel {
  background-position: -512px -128px;
}

.sprite-seacreature-octopus {
  background-position: -640px -128px;
}

.sprite-seacreature-oyster {
  background-position: -768px -128px;
}

.sprite-seacreature-pearl_oyster {
  background-position: -896px -128px;
}

.sprite-seacreature-red_king_crab {
  background-position: -1024px -128px;
}

.sprite-seacreature-scallop {
  background-position: 0 -256px;
}

.sprite-seacreature-sea_anemone {
  background-position: -128px -256px;
}

.sprite-seacreature-sea_cucumber {
  background-position: -256px -256px;
}

.sprite-seacreature-sea_grapes {
  background-position: -384px -256px;
}

.sprite-seacreature-sea_pig {
  background-position: -512px -256px;
}

.sprite-seacreature-sea_pineapple {
  background-position: -640px -256px;
}

.sprite-seacreature-sea_slug {
  background-position: -768px -256px;
}

.sprite-seacreature-sea_star {
  background-position: -896px -256px;
}

.sprite-seacreature-sea_urchin {
  background-position: -1024px -256px;
}

.sprite-seacreature-seaweed {
  background-position: 0 -384px;
}

.sprite-seacreature-slate_pencil_urchin {
  background-position: -128px -384px;
}

.sprite-seacreature-snow_crab {
  background-position: -256px -384px;
}

.sprite-seacreature-spider_crab {
  background-position: -384px -384px;
}

.sprite-seacreature-spiny_lobster {
  background-position: -512px -384px;
}

.sprite-seacreature-spotted_garden_eel {
  background-position: -640px -384px;
}

.sprite-seacreature-sweet_shrimp {
  background-position: -768px -384px;
}

.sprite-seacreature-tiger_prawn {
  background-position: -896px -384px;
}

.sprite-seacreature-turban_shell {
  background-position: -1024px -384px;
}

.sprite-seacreature-umbrella_octopus {
  background-position: 0 -512px;
}

.sprite-seacreature-vampire_squid {
  background-position: -128px -512px;
}

.sprite-seacreature-venus_flower_basket {
  background-position: -256px -512px;
}

.sprite-seacreature-whelk {
  background-position: -384px -512px;
}
