$theme-colors: (
  "primary": #8DC9A4,
  "warning": #edb100
);

@import "node_modules/bootstrap/scss/bootstrap";

.bg-ac {
  background-image: url('/assets/new-horisons.png');
}

.cursor-pointer {
  cursor: pointer;
}

h1 {
  font-size: 1.8rem;
}

.active-time-chart {
  .border-left {
    border-color: #212529 !important;
  }
  .border-right {
    border-color: #212529 !important;
  }
  .time-row {
    border-right: 1px solid #212529;
    border-left: 1px solid #212529;
    td {
      border-right: 1px solid #212529;
      font-size: 8px;
      padding: 0;
      &:last-child {
        border: 0;  
      }
      &::after {
        content: '';
      }
      &.active {
        &:first-child {
          border-top-left-radius: .5rem;
          border-bottom-left-radius: .5rem;
        }
        &:last-child {
          border-top-right-radius: .5rem;
          border-bottom-right-radius: .5rem;
        }
        background-color: #CABF00;
      }
    }
  }
}

.active-month-chart {
  td {
    font-style: italic;
    font-size: 1.15rem;

    .active {
      background-color: #CABF00;
    }
  }
}
