{{head-layout}}

{{outlet}}

{{!-- <hr> --}}
<p class="py-4 mb-0 text-center bg-ac shadow-lg">
  <span class="colour-twitter">{{fa-icon "twitter" prefix="fab"}}</span> <a href="https://twitter.com/findmoppler" class="text-muted font-weight-bold">@findmoppler</a>
</p>